<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.DataExchange" version="1.1.160817" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.DataExchange.DataAccess" version="1.1.160817" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.Services.Core" version="8.1.151003" targetFramework="net452" developmentDependency="true" />
</packages>