<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.DataExchange.Tools.DynamicsConnect.NoReferences" version="2.0.180108" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
</packages>